<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded-"false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="/">Music Album Reviews</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/albums">Home</a></li>
            <li><a href="/myalbums">My Music</a></li>
            <li><a href="/albums/new">Add New Music</a></li>
          </ul>
          <ul class="nav navbar-form navbar-right">
            <div class="form-group">
              <%= form_tag(albums_path, :method => "get", id: "search-bar") do %>
                <%= search_field_tag :search, params[:search], placeholder: "Search..." %>
              <% end %>
            </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
            <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </ul>  
        </div>
    </nav>
    
    <%= yield %>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>

